

nav {
    align-content: flex-start;
    background-color: rgb(190, 209, 245);
    border: 1px solid rgb(206, 223, 255);
}

nav ul {
    justify-content: center;
    width: 98%;
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin: 0 10px;
    width: 120px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    border: 1px solid rgb(57, 126, 255);
    background-color: rgb(128, 169, 247);
    border-radius: 5px;
}

#selecionado {
    border: 1px solid white;
    border-radius: 5px;
}

.principal {
    padding: 10px;
    width: 98%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#dfPessoas {

    width: 49%;
    font: 14px Verdana;
}

#dtPessoas {
    
    min-width: 380px;
    width: 49%;
    font: 14px Verdana;
}

table tr td {
    background-color: white;
    width: 140px;
    text-align: center;
}

.tdTotal {
    text-align: right;
    font-weight: 800;
}

#tbGastos thead tr td {
    border-bottom: 1px solid black;
}