/* MENU */

nav {
    align-content: flex-start;
    background-color: rgb(190, 209, 245);
    border: 1px solid rgb(206, 223, 255);
}

nav ul {
    justify-content: center;
    width: 98%;
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin: 0 10px;
    width: 120px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
    size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    border: 1px solid rgb(57, 126, 255);
    background-color: rgb(128, 169, 247);
    border-radius: 5px;
}

#selecionado {
    border: 1px solid white;
    border-radius: 5px;
}

/* TABELAS */

.principal {
    padding: 10px;
    width: 98%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#dfContas {

    width: 49%;
    font: 14px Verdana;
}

#dtContas {
    
    min-width: 380px;
    width: 49%;
    font: 14px Verdana;
}

table tr td {
    background-color: white;
    width: 140px;
    text-align: center;
}

.tdTotal {
    text-align: right;
    font-weight: 800;
}

.celTotal {
    width: 100%;
    border: none;
}

#tbGastos thead tr td {
    font-size: 0.7em;
}
.tbTotalTd {
    border-bottom: 1px solid black;
    font-size: 0.8em;
}

.dLeft {
    border: 1px solid black;

    width: 14%;
}

.dRight {
    border: 1px solid brown;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.meses {

    width: 33.1%;
    max-height: 25%;
    overflow-x: auto;
}

.janeiro {
    border: 1px solid red;
    background-image: url("/Image/janeiro.jpg");
}

.fevereiro {
    border: 1px solid darkblue;
    background-image: url("/Image/fevereiro.png");
}

.marco {
    border: 1px solid darkgoldenrod;
    background-image: url("/Image/marco.jpg");
}

.abril {
    border: 1px solid darkgray;
    background-image: url("/Image/abril.jpg");
}
.maio {
    background-image: url("/Image/maio.jpg");
    border: 1px solid seagreen;
}
.junho {
    border: 1px solid violet;
    background-image: url("/Image/junho.jpg");
}
.julho {
    border: 1px solid darkblue;
}
.agosto {
}
.setembro {
    border: 1px solid darkgoldenrod;
}
.outubro {
    border: 1px solid darkgray;
}
.novembro {
    border: 1px solid seagreen;
}
.dezembro {
    border: 1px solid violet;
}